Blood-Bank/WebContent/wsdl/BloodSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchreceiver">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchreceiverResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchreceiverReturn" type="impl:Receiver"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Receiver">
    <sequence>
     <element name="donorid" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchreceiverRequest">

      <wsdl:part element="impl:searchreceiver" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchreceiverResponse">

      <wsdl:part element="impl:searchreceiverResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BloodSearch">

      <wsdl:operation name="searchreceiver">

         <wsdl:input message="impl:searchreceiverRequest" name="searchreceiverRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchreceiverResponse" name="searchreceiverResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BloodSearchSoapBinding" type="impl:BloodSearch">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchreceiver">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchreceiverRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchreceiverResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BloodSearchService">

      <wsdl:port binding="impl:BloodSearchSoapBinding" name="BloodSearch">

         <wsdlsoap:address location="http://localhost:8080/Blood-Bank-Management/services/BloodSearch"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
