Blood-Bank/WebContent/wsdl/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchdonor">
    <complexType>
     <sequence>
      <element name="med_history" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchdonorResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchdonorReturn" type="impl:Donor"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Donor">
    <sequence>
     <element name="donorid" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="contact" nillable="true" type="xsd:string"/>
     <element name="age" type="xsd:int"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="med_history" nillable="true" type="xsd:string"/>
     <element name="record" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchdonorResponse">

      <wsdl:part element="impl:searchdonorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchdonorRequest">

      <wsdl:part element="impl:searchdonor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Search">

      <wsdl:operation name="searchdonor">

         <wsdl:input message="impl:searchdonorRequest" name="searchdonorRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchdonorResponse" name="searchdonorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchSoapBinding" type="impl:Search">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchdonor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchdonorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchdonorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchService">

      <wsdl:port binding="impl:SearchSoapBinding" name="Search">

         <wsdlsoap:address location="http://localhost:8080/Blood-Bank-Management/services/Search"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
